body {
    font-family: sans-serif;
    color: #ffffff;
}

.brown_card {
    background: linear-gradient(#665555,#5a4040);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 35px #5a4040;

}

.blue_card {
    background: linear-gradient(#00556f,#00cfef);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #00cfef;

}

.purple_card {
    background: linear-gradient(#7c8ce7,#4f60f8);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 50px #7c8ce7;

}

.card_photo{
    margin-top: 5px;
    border-radius: 100%;
    width: 100px;
}

.card_title {
    padding-top:10px;
    font-size: 22px;
    margin: 0;
    letter-spacing: 2px
}

.card_subtitle {
    font-size: 8px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
}

.card_description {
    font-size: 12px;
    padding: 15px;
    background: linear-gradient(#5a4040);
    text-align: justify;
}