body {
    background-color: red;
    margin: 0;
}
h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

.box-lineal {
    width: 400px;
    height: 400px;
    background: linear-gradient(to left,transparent,#000a);
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
}

.box-radial {
    width: 400px;
    height: 400px;
    background: radial-gradient(transparent, #000a);
    margin: auto;
    border-radius: 7px;
    margin-top: 20px;
    border-top: 6px solid #900
}

.box-conic {
    width: 400px;
    height: 400px;
    background: conic-gradient(transparent, #000a);
    margin: auto;
    border-radius: 7px;
    margin-top: 20px;
    border-top: 6px solid #900
}