/* El padding y las propeidades top, bot right y left son el sentido de las manecillas del reloj */

.formulario {
    background-color: red;
    padding: 30px;
}

.formulario_input {
    padding: 9px 10px;
    width: 90%;
    background: black;
    color:red;
    margin: 10px;
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform:uppercase;
    background-color:red ;
    color: white;
    width: 50%;
    ;
}